@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Mada:wght@300&family=Playfair+Display&display=swap');

html, body {
    min-height: 100vh;
}

body {
    display: flex;

    flex-direction: column;
    align-items: center;
    row-gap: 50px;

    font-family: 'Hammersmith One', sans-serif;
    font-family: 'Mada', sans-serif;
    font-family: 'Playfair Display', serif;

}

.header{
    display: flex;

    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 37px 15px 39.6px;
    /* height: 177px; */
    background: linear-gradient(135deg, #6D6027 0%, rgba(211, 203, 184, 0.00) 100%), #04070F;
}

.title{
    margin-bottom: 21px;
    color: #FFF;
    font-size: 25px;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.form{
    display: flex;

    height: 30px;
    border-radius: 10px;
    background: #FFF;
}

.input{
    padding: 10px;
    color: #000;
    font-size: 20px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.btn{
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    color: #FFF;

    width: 66.015px;
    height: 29.829px;
    border-radius: 6px;
    background: #8F8458;
    transition: background-color 0.2s ease-in;
}

.btn:hover {
    background: #1c0c0c
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50px;
    /* row-gap: 20px; */

    width: 295px;
    height: 200px;
    flex-shrink: 0;
    padding: 5px 8px 8px;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(27, 28, 33, 0.30);

}

.card::before{
    display: block;
    content: "";

    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: -1;
    width: calc(100% - 20px);
    height: 100%;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(27, 28, 33, 0.30);
}

.card-city {
    display: flex;
    justify-content: center;

    /* width: 122px; */
    height: 40px;
    /* flex-direction: column; */
    flex-shrink: 0;

    
    color: #000;
    font-size: 22px;
    font-family: Hammersmith One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-value {
    display: flex;
    
    width: 122px;
    height: 64.4px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 55px;
    font-family: Mada;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
.card-img {
    width: 130px;
    height: 115px;
    flex-shrink: 0;
}

.card-description {
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: column;
    flex-shrink: 0;

    color: #000;
    font-size: 20px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    /* display: inline-block; */
    margin-top: auto;
    padding: 8px;
    width: 100%;
    background: #47443C;

    color: #FFF;
    font-size: 25px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    text-decoration: none;
}